<form action="/cad" method="POST">
    <p>Titulo:</p>
    <input type="text" name="titulo" placeholder="Ex: A bela e a fera ">
    <p>Escreva Aqui:</p>
    <textarea name="conteudo" id="txt" cols="30" rows="10"></textarea>
    </br>
    <button type="submit">Cadastrar</button>
</form>